<!DOCTYPE html>
<html lang="en">

<head>
    <title>Office Desk</title>
    <link href="/assets/img/s.png" rel="icon">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/custom_login.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="wrapper" style="margin-top: 60px">
        {% block content %} {% endblock %}
    </div>
</div>
<script src="/assets/js/jquery-2.2.0.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

</body>

</html>