{% extends 'layouts/login.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-sm-offset-3">
            {% include 'elements/flash.twig' %}
            <form class="form-signin" method="post" action="/forgot-pwd">
                <h2 class="form-signin-heading">Forgot password</h2>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Send mail</button><br>
                <div class="row mail">
                    <div class="col-lg-6">
                        <a href="/login" class="email">Login here</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}