{% extends 'layouts/login.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-sm-offset-3">
            {% include 'elements/flash.twig' %}
            <form class="form-signin" method="post" action="/password-reset">
                <h2 class="form-signin-heading">Reset password</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="New password" required="" autofocus="" />
                            <input type="hidden" class="form-control" value="{{ token }}" name="pwd_reset_token" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password" required="" autofocus="" />
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button><br>
                <div class="row mail">
                    <div class="col-lg-6">
                        <a href="/login" class="email">Login here</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}