{% extends "/layouts/application.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="title pull-left">
                Dashboard
            </h2>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recent Visitor</h3>
                    </div>
                    <div class="panel-body">
                        <h3>RID displays your content in an eye-catching way and enables customizable internal distribution.</h3>
                        <h4>RID displays your content in an eye-catching way and enables customizable internal distribution.</h4>
                        <p>RID displays your content in an eye-catching way and enables customizable internal distribution. RID displays your content in an eye-catching way and enables customizable internal distribution.RID displays your content in an eye-catching way and enables customizable internal distribution.</p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recent Visitor</h3>
                    </div>
                    <div class="panel-body">
                        <h3>RID displays your content in an eye-catching way and enables customizable internal distribution.</h3>
                        <h4>RID displays your content in an eye-catching way and enables customizable internal distribution.</h4>
                        <p>RID displays your content in an eye-catching way and enables customizable internal distribution. RID displays your content in an eye-catching way and enables customizable internal distribution.RID displays your content in an eye-catching way and enables customizable internal distribution.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


