{% extends "/layouts/application.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="title pull-left">
                Manage Profile
            </h2>
            <div class="clearfix"></div>
        </div>

        <div class="widget">
            <div class="widget-header">
                <div class="pull-left">
                    <div class="pull-left">
                        <h2>Change Password</h2>
                        <span>Provide all valid information to change password</span>
                    </div>
                </div>
                <div class="pull-right btn-areas btn-margin">
                    <a href="/profile/" class="btn btn-info">My Profile</a><a href="/profile/update" class="btn btn-info">Update Profile</a><a href="/profile/change-password" class="btn btn-info">Change Password</a></div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="">
                            <a href="">
                                {% if not user.profile_pic is empty %}
                                    <img src="{{ user.profile_pic }}" class="avatar img-thumbnail" onerror="this.onerror=null;this.src='/assets/img/profiles/profile_pic.jpg'" alt="Profile Photo">
                                {% else %}
                                    <img src="/assets/img/profiles/profile_pic.jpg" class="avatar img-thumbnail" alt="Profile Photo">
                                {% endif %}
                            </a>
                            <h6>Upload a different photo...</h6>
                            <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#changeProfilePhoto">Change Photo</button>
                        </div>
                        <div class="modal fade" id="changeProfilePhoto" tabindex="-1" role="dialog" aria-labelledby="changeProfilePhotoLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="changeProfilePhotoLabel">Change Profile Photo</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" accept-charset="utf-8" controller="users" enctype="multipart/form-data" action="/profile/change-profile-picture" class="ng-pristine ng-valid">
                                            <div style="display:none;">
                                                <input type="hidden" name="_method" value="POST">
                                            </div>
                                            <input name="photo" type="file" class="form-control well-sm" required="">
                                            <br>
                                            <button type="submit" class="btn btn-success">Change Photo</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- edit form column -->
                    <div class="col-md-6 col-sm-8 col-xs-12 personal-info">
                        <form class="form" method="post" action="/profile/change-password">
                            <div class="form-group">
                                <label for="password">Old Password</label>
                                <input name="old_password" type="password" class="form-control" placeholder="Old Password" required>
                                {% if errors != NULL %}
                                    <span class="error-text">{{ errors.old_password.0 }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input name="password" type="password" class="form-control" placeholder="New Password" required>
                                {% if errors != NULL %}
                                    <span class="error-text">{{ errors.password.0 }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password" required>
                                {% if errors != NULL %}
                                    <span class="error-text">{{ errors.confirm_password.0 }}</span>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-success">Change</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


